/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    padding: 20px;
    background-color: #61a1ff;
    margin: 0;
}

p {
    text-align: center;
    color: #555;
}

h2 {
    text-align: center;
    color: #333;
}

.face-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.face-container img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.face-container img:hover {
    transform: scale(1.1);
}
