<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yüz Tanıma Uygulaması</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function previewImage() {
            var preview = document.getElementById('preview-image');
            var fileInput = document.getElementById('file-upload');
            var files = fileInput.files;

            // Display file previews using jQuery
            displayFilePreviews(files);

            var file = files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            };

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }

        // Display selected file previews
        function displayFilePreviews(files) {
            $('#file-previews').html('');

            for (var i = 0; i < files.length; i++) {
                var file = files[i];

                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#file-previews').append('<div class="file-preview"><img src="' + e.target.result + '" alt="Dosya Önizleme"></div>');
                }

                reader.readAsDataURL(file);
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Yüz Tanıma Uygulaması</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="file-upload" class="custom-file-upload">
                Fotoğraf Seç
            </label>
            <input id="file-upload" type="file" name="file" accept="image/*" onchange="previewImage()" multiple required>

            <!-- İşlem adını ekleyen input -->
            <label for="process-name">
                İşlem Adı:
            </label>
            <input id="process-name" type="text" name="process_name" required>

            <button type="submit">Yükle</button>
        </form>

        <div id="file-previews" class="preview-container"></div>

        {% if file_path %}
            <div class="preview-container">
                <h2>Yüklenen Fotoğraf</h2>
                <img id="preview-image" src="{{ url_for('static', filename=file_path) }}" alt="Uploaded Image">
            </div>
        {% else %}
            <p>{{ error_message }}</p>
        {% endif %}
    </div>
</body>
</html>
